.header {
  padding: 10px;
  height: 30px;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: white;
  background-color: black;
  border-radius: 100px;
}

.header__left {
  display: flex;
}

.header__left > img {
  width: 30px;
  height: 30px;
}

.header__left > input {
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__rightUser {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.header__rightUser > p {
  margin-right: 10px;
}

.header__rightLogin {
  background-color: white;
  border-radius: 30px;
}

.header__right > h3 {
  margin: 0 10px;
}

.app__loginContainer {
  background-color: white;
  border-radius: 30px;
}

.loginButton {
  border-radius: 20px;
}

.logoutButton {
  border-radius: 20px !important;
}
