.sidebar {
  width: 250px;
  height: 90vh;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar__groups,
.sidebar__usersList > h2 {
  color: white;
}

.sidebar__groups {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar__ul {
  width: 95%;
  margin: auto;
  padding-left: 0;
  height: 50vh;
  overflow: hidden;
  overflow-y: scroll;
}

.sidebar__ul > h4 {
  color: white;
  margin: 10px;
}

.sidebar__ul::-webkit-scrollbar {
  display: none;
}

.sidebar__list {
  padding: 20px;
  list-style-type: none;
  border-bottom: 1px solid black;
  background-color: #e9e9eb;
  color: black;
  cursor: pointer;
  margin: 5px;
  border-radius: 20px;
}

.sidebar__li {
  padding: 20px;
  list-style-type: none;
  border-bottom: 1px solid black;
  background-color: #e9e9eb;
  cursor: pointer;
  margin: 5px;
  border-radius: 20px;
}

.sidebar__hideUsers {
  pointer-events: none;
  opacity: 0.7;
}
